/* Home.module.scss */

/* Layout.module.scss */
.headtab {
  display: flex;
}
/* Upload.module.scss */
.imageInput {
  width: 400px;
  height: 400px;
  & img {
    width: 100%;
    height: 100%;
  }
  position: relative;
}
